# Minimal CVA6 RISC-V JTAG debug via on-board FT2232H on Genesys 2
# NOTE: Only works for RISC-V CPU debug (DTM TAP, irlen 5).
#       Cannot access FPGA TAP (irlen 6) due to Digilent Adept firmware.
#
# Usage: openocd -f scripts/openocd_riscv_debug.cfg

adapter driver ftdi
adapter speed 1000

ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x0018 0x001b
ftdi layout_signal nTRST -ndata 0x0010

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0

init
